includes:
	- vendor/phpstan/phpstan-strict-rules/rules.neon

parameters:
	ignoreErrors:
		- '#Method Localheinz\\PHPUnit\\Framework\\Constraint\\IsIdenticalJson::additionalFailureDescription\(\) has parameter \$other with no typehint specified.#'
		- '#Method Localheinz\\PHPUnit\\Framework\\Constraint\\IsIdenticalJson::failureDescription\(\) has parameter \$other with no typehint specified.#'
		- '#Method Localheinz\\PHPUnit\\Framework\\Constraint\\IsIdenticalJson::matches\(\) has parameter \$other with no typehint specified.#'
